@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border-radius: 100vh;
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: lightgray;
  }